.sale {
	@include common-value('padding-top', 24);
	@include common-value('padding-bottom', 24);
	background-color: $colorSecond;

	&__img-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		@include common-value('height', 80);
		background-color: $colorLight;
		& picture {
			height: 100%;
			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: right;
			}
		}
	}

	&__offer {
		position: absolute;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		max-width: 50%;
		padding: 10px 20px 20px 20px;
		& > * {
			background-color: #{$colorLight}b0;
			@media (max-width: $md2+px) {
				background-color: #00000000;
			}
		}
		@media (max-width: $md2+px) {
			background-color: #{$colorLight}70;
		}
		@media (max-width: $md3+px) {
			height: 100%;
		}
		@media (max-width: $md4+px) {
			width: 100%;
			text-align: center;
			align-items: center;
			max-width: none;
		}
	}

	&__title {
		font-size: 3.8em;
		@media (max-width: $md4+px) {
			font-size: 3em;
		}
	}
	&__text {
		font-size: 1.5em;
		max-width: 250px;
		@include common-value('padding-top', 4);
		@include common-value('padding-bottom', 6);
	}

	&__link {
		font-size: 2.2em;
		margin-top: 20px;
		@media (max-width: $md4+px) {
			font-size: 1.8em;
		}
	}
}
