.banner {
	position: relative;
	width: 100%;

	&__img-wrapper {
		@include adaptiv-value('height', 600, 500, 200, $md1, $minWidth, px);
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__offer {
		position: absolute;
		bottom: 30px;
		display: flex;
		flex-direction: column;
		width: 50%;
	}
	&__offer-title {
		font-size: 1.8em;
		color: $colorLight;
		@include common-value('margin-bottom', 2);
	}

	&__offer-link {
		font-size: 1.5em;
		color: $colorLight;
		text-decoration: underline;
	}
}
