.catalog {
	width: 100%;
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__navigation {
		& ul {
			display: flex;
			justify-content: center;
			@include common-value('padding-top', 6);
			@include common-value('padding-bottom', 6);
		}
	}

	&__navigation-item {
		cursor: pointer;
		font-size: 1.7em;
		color: $colorTextLight;
		@include common-value('margin-right', 5);
		transition: all 0.3s ease;
		&._active {
			position: relative;
			color: $colorText;
			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				background-color: $colorText;
				@include common-value('bottom', -1);
			}
		}
	}

	&__products-wrapper {
		column-gap: 5%;
		flex-wrap: wrap;
		width: 100%;
		@media (max-width: $md1+px) {
			column-gap: 2%;
		}
	}

	&__product-card {
		display: flex;
		flex-direction: column;
		width: 21.25%;
		margin-bottom: 1%;
		@media (max-width: $md1+px) {
			width: 23.5%;
		}
		@media (max-width: $md2+px) {
			width: 32%;
		}
		@media (max-width: $md4+px) {
			width: 49%;
		}
		& picture {
			height: 340px;
			@media (max-width: $md2+px) {
				@include common-value('height', 80);
			}
			@media (max-width: $md4+px) {
				@include common-value('height', 100);
			}
			& img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
	&__name-wrapper {
		font-size: 1.5em;
		@include common-value('margin-top', 2);
	}

	&__name {
		@include common-value('margin-right', 1);
	}

	&__name-characters {
		color: $colorTextLight;
	}

	&__price-wrapper {
		display: flex;
		font-size: 1.3em;
	}

	&__price {
		color: $colorText;
		@include common-value('margin-right', 1);
	}

	&__button {
		margin: 65px 0;
	}
}
.old-price {
	color: $colorTextGray;
}
.new-price {
	color: $colorAlert;
}
