// ._margin-top {
// 	@include adaptiv-value('margin-top', 160, 138, 115, $md1, $md3, px);
// 	@media (max-width: $md3+px) {
// 		margin-top: 47px;
// 	}
// }

//↑↑↑ for block under header ↑↑↑

.header {
	// z-index: 100;
	// position: fixed;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: $colorLight;
	@include common-value('padding-bottom', 8);

	&__main {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		@include common-value('row-gap', 5);
		@include common-value('padding-top', 6);
	}

	&__logo {
		@include adaptiv-value('width', 265, 240, 80, $md1, $minWidth, px);
	}

	&__catalog {
		display: flex;
		flex-grow: 1;
		@include common-value('margin-left', 10);
		& ul {
			display: flex;
			align-items: center;
			& li {
				font-size: 1.6em;
				@include common-value('margin-right', 5);
				& a {
					&:hover {
						color: $colorLinkHover;
					}
				}
			}
		}
	}

	&__user-menu {
		display: flex;
		align-items: center;
		& a {
			font-size: 1.6em;
			position: relative;
			display: flex;
			align-items: center;
			@include common-value('margin-right', 5);
			&:hover {
				color: $colorLinkHover;
				& path {
					fill: $colorLinkHover;
				}
			}
			&.active {
				color: $colorLinkHover;
			}
		}
	}

	&__line-before {
		&::before {
			content: '';
			position: absolute;
			@include common-value('left', -2.6);
			width: 1px;
			height: 16px;
			background-color: $colorMain;
			color: $colorLight;
		}
	}

	&__basket {
		line-height: 1;
		@include adaptiv-value('width', 18, 18, 11, $md1, $md4, px);
	}
}

.adv {
	background-color: $colorSecond;
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 9px 0 8px 0;
	}

	&__title {
		font-size: 1.4em;
		@include common-value('margin-right', 5);
	}

	&__button {
		font-size: 1.2em;
		padding: 7px 12px;
	}
}

.search {
	transition: margin-top 0.5s ease;
	& input {
		width: 100%;
		font-size: 0;
		height: 0;
		padding-left: 0;
		transition: all 0.5s ease;
	}
	&.active {
		@include common-value('margin-top', 6);
		& input {
			font-size: 1.6em;
			height: 40px;
			padding: 5px;
		}
	}
}
